---
import { SITE_TITLE } from '../consts'
---

<header class="md:mt-16">
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <p class="text-muted-foreground">Software Engineer</p>
  </nav>
</header>
